Repository znscli/zns, pull requests merged in 2025-02, with the labels that each got.

#33 view: improve type assertions and handle stream write errors
  internal/view/json_test.go
  internal/view/render.go
  internal/view/render_test.go
Labels: tests

#36 query: add tests
  cmd/root.go
  internal/query/query.go
  internal/query/query_test.go
Labels: tests

#37 query: initialize the dns client correctly
  cmd/root.go
  internal/query/query.go
  internal/query/query_test.go
Labels: tests

#38 add functional tests
  .golangci.yaml
  cmd/root.go
  cmd/root_test.go
Labels: tests

#41 feat: use go1.24 and pin workflow sha
  .github/workflows/release.yaml
  go.mod
Labels: dependencies, github-actions

#42 reference homebrew-core install
  README.md
Labels: documentation

#43 chore: update goreleaser
  .goreleaser.yaml
Labels: github-actions

#48 chore(goreleaser): fix action to use v2
  .github/workflows/release.yaml
Labels: github-actions

#51 fix: properly format IPv6 DNS server addresses when appending port
  cmd/root.go
  cmd/root_test.go
Labels: tests
